        <div ng-controller="ResetPwdCtrl" >

        <div align="center" style="margin-top: 20px" >
			
			<input ng-model="token" class="input" type="text" placeholder="Token" required />	
	
		</div>	
    
		<div align="center" style="margin-top: 20px" >
			
			<input ng-model="password"class="input" type="password" placeholder="New password" required />	
	
		</div>	

		<div align="center" style="margin-top: 20px" >
			
			<input ng-model="confirmPassword"class="input" type="password" placeholder="confirmPassword" required />	
	
		</div>	
		
		<div align="center">
			 <button  ng-click="submit()" class="btnGo"><img ng-src="images/goImage.jpeg" class="goBtnImage"/></button>
		</div>

        </div>
        